In [5]:
class Person:

  def __init__(self, name, age):
    self.name = name
    self.age = age

p = Person("Kusto", 20)

print(p.name)
print(p.age)

Kusto
20

# Object Method

In [9]:
class Calculator:
  
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def Multiple(self):
    self.mul = self.num1 * self.num2
    return self.mul

cal = Calculator("num1", "num2")
cal = Calculator(6, 5)
cal.Multiple()

30

# Class Method

In [11]:
class Calculator:
  
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  @classmethod
  def Multiple_1(cls, num1, num2):
    cls.mul_num = num1 * num2
    return cls.mul_num

cal = Calculator("num1", "num2")
cal.Multiple_1(5, 9)

45

# Static Method

In [12]:
class Calculator:
  
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  @staticmethod
  def Multiple_2(num1, num2):
    mul = num1 * num2
    return mul

cal = Calculator.Multiple_2(6, 7)
print(cal)

42